<ion-view view-title="Records" >
  <ion-nav-buttons side="left">
    <a class="button button-clear button-positive"  href="#/firstPage">Previous</a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-clear button-positive"  href="#/firstPage" >Send Records</a>
  </ion-nav-buttons>

  <ion-content >
      <div class="list">

        <div class="item item-button-right">
          store 1
          <button class="button button-positive">
            <i class="icon ion-trash-a"></i>
          </button>
        </div>

        <div class="item item-button-right">
          store 2
          <button class="button button-positive">
            <i class="icon ion-trash-a"></i>
          </button>
        </div>

        <div class="item item-button-right">
          store 3
          <button class="button button-positive">
            <i class="icon ion-trash-a"></i>
          </button>
        </div>


      </div>

  </ion-content>
</ion-view>

